#Flask==2.2.2
Flask==3.1.1
jsonpath-python==1.0.6
#lxml==4.9.2
lxml==6.0.0
#marshmallow==3.19.0
marshmallow==3.26.1
marshmallow-oneofschema @ git+https://github.com/doigl/marshmallow-oneofschema.git@type_field_remove#eeg=marshmallow-oneofschema
#marshmallow-oneofschema==3.0.1
#pyaml==21.10.1
pyaml==25.7.0
python-dotenv
PyYAML==6.0.2
#requests==2.28.2
requests
#validators==0.20.0
validators==0.35.0
chevron==0.14.0
rdflib==7.1.4
python-dateutil==2.9.0.post0
gunicorn
