click==8.0.3
colorama==0.4.4
Flask==2.0.2
importlib-metadata==4.10.1
itsdangerous==2.0.1
Jinja2==3.0.3
jsonpath-python==1.0.5
lxml==4.7.1
MarkupSafe==2.0.1
marshmallow==3.14.1
marshmallow-oneofschema @ git+https://github.com/doigl/marshmallow-oneofschema.git@type_field_remove#eeg=marshmallow-oneofschema
#marshmallow-oneofschema==3.0.1
pyaml==21.10.1
python-dotenv
PyYAML==6.0
typing_extensions==4.0.1
Werkzeug==2.0.2
zipp==3.7.0
jsonpath-python==1.0.5
requests==2.27.1
validators==0.18.2
requests==2.27.1
